# Ignore everything:
*

# Except for these files:
# Re-include all directories (& sub-dirs) so they may be examined for the exceptions that follow
!*/
# Don't ignore the .gitignore!
!.gitignore
# Python
!*.py
# Cython
!*.pyx
# Markdown
!*.md
# Shell
!*.sh
# Config file
!*.conf
# Forced alignments
!*.ctm
# IPython notebooks
!*.ipynb
# Dockerfile
!docker/*
# License
!LICENSE

# Files to ignore that were re-included in exceptions:
# IPython notebook checkpoints
*.ipynb_checkpoints*
# Scratch notebooks
_*.ipynb
# Ignore extracted features from TIDigits (needs to be obtained from LDC)
kaldi_features/tidigits/features/*
kaldi_features/tidigits/logs/*
kaldi_features/tidigits/tidigits_audio.npz
